<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-12">
        
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <a href="" class="override" data-bs-toggle="modal" data-bs-target="#editPhoto">
                <img class="img-fluid" id= "prof-img" src="<%= user.image%>" />
              </a>
              <% if (!user.image) { %>
                <a href="" class="override" data-bs-toggle="modal" data-bs-target="#editPhoto">
                 <img class="img-fluid" src="https://res.cloudinary.com/dvgnmh1gb/image/upload/qelmhnzabhualy8tvl30.png">
                </a>
              <% } %>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="btn btn-primary logoutBtn">Logout</a>
          </div>
        </br>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
            Create a Post
          </button>
          <br>
          <!-- <form id="profPicForm" action="/profPic/<%= user._id%>" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label for="imgUpload" class="form-label">Profile Pic</label>
                <input type="file" class="form-control" id="profPicUpload" name="profPic">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Upload Profile Pic</button>
        </form> -->
          <br>
          
          <!-- <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div> -->
      </div>

 
      
      <div class="col-12">
        <ul class="image-grid">
          <% for(var i=0; i<posts.length; i++) { %>
            <li class="image-item">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid prof-img" src="<%= posts[i].image%>">
              </a>
            </li>
          <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Go to Feed</a>
        </div>
      </div>


    </div>
  </div>
</div>


<%- include('partials/footer') -%>


<!-- <div class="col-12">
  <ul class="row list-unstyled">
   for(var i=0; i<posts.length; i++) {%>
    <li class="col-6 justify-content-between mt-5">
      <a href="/post/<= posts[i]._id%>">
        <img class="img-fluid prof-img" src="<= posts[i].image%>">
      </a>
    </li>
  } %>
  </ul>
  <div class="row justify-content-center mt-5">
    <a class="btn btn-primary" href="/feed">Go to Feed</a>
  </div>  
</div>   -->